#navegacion-local {
    width: 100%;
    max-width: 100ch;
    padding-inline: 20px;
    box-sizing: border-box;
}

article {
    padding-inline: 0.25em;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2:first-of-type {
    margin-bottom: 5px;
}

h3 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}

h2+article h3 {
    margin-top: 1em;
}

article>p {
    margin-top: 0.75em;
}

.pista {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
}

#aleatorio {
    display: flex;
    margin-inline: auto;
}

.oculto {
    position: absolute;
    visibility: hidden;
}

/********************
Botón
********************/

button:disabled {
    cursor: default;
}

/********************
Botón con acento
********************/

button.acento {
    background-color: var(--accent-color);
    color: var(--on-accent);
    border-color: transparent;
}

button.acento:hover {
    background-color: var(--accent-color-hover);
}

button.acento:active {
    background-color: var(--accent-color-active);
}

/********************
Botón con contorno
********************/

button.contorno {
    border-radius: 100px;
}

button.contorno.seleccionado {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-width: 2px;
    cursor: initial;
}

button.contorno.seleccionado:hover,
button.contorno.seleccionado:active {
    background-color: inherit;
}

/********************
Pestañas
********************/

.contenedor-grupos {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
}

.grupo {
    position: relative;
    min-width: fit-content;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
}

.grupo::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 3px;
    background-color: var(--button-border-color);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 300ms;
}

.grupo:hover::after {
    opacity: 1;
}

.grupo.seleccionado::after {
    background-color: var(--accent-color);
    opacity: 1;
}

.contenido-grupo {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 12px 10px;
}

.contenido-grupo.visible {
    display: flex;
}

/********************
Acordeón
********************/

details div {
    margin-inline: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

details ol {
    padding-left: 1em;
}

/********************
Tablas
********************/

.tabla {
    --parent-color: var(--container-color-alt);
    max-width: 100%;
    margin-block: 1.5em;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

table {
    margin-inline: auto;
}

th,
td {
    min-width: max-content;
    padding-inline: 8px;
}

/********************
Progreso
********************/

button.cargando::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(var(--progreso, 0) * 1%);
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

/********************
Sombras de desplazamiento
********************/

.contenedor-grupos,
.tabla {
    --shadow-color: hsla(0, 0%, 50%, 0.4);
    --shadow-margin: 40px;
    --shadow-width: 10px;

    background:
        linear-gradient(to right, var(--parent-color, var(--background-color)) 30%, transparent) left / var(--shadow-margin) 100% local,
        linear-gradient(to left, var(--parent-color, var(--background-color)) 70%, transparent) right / var(--shadow-margin) 100% local,
        radial-gradient(farthest-side at 0, var(--shadow-color), transparent) left / var(--shadow-width) 100% scroll,
        radial-gradient(farthest-side at 100%, var(--shadow-color), transparent) right / var(--shadow-width) 100% scroll;
    background-repeat: no-repeat;
}

/********************
Impresión
********************/

@media print {
    article {
        break-inside: avoid;
    }

    body>header,
    nav,
    button,
    details,
    .categorias {
        display: none;
    }
}