html {
    color-scheme: light dark;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    font-family: var(--body-font, system-ui);
    line-height: 1.6;
}

header {
    text-align: center;
}

main {
    width: 100%;
    max-width: 100ch;
    box-sizing: border-box;
    margin-bottom: 30px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0.2em;
}

@media (max-width: 600px) {
    header img {
        display: none;
    }
}

fluent-progress-ring {
    margin-top: 20px;
    margin-inline: auto;
}