#cinta {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.875rem;
}

#cinta p {
    margin: 0;
}

#cinta.oculto {
    display: none;
}

#contenedor-casilla {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    accent-color: var(--accent-color);
}

/********************
Progreso
********************/

#cinta.cargando::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(var(--progreso, 0) * 1%);
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 10px;
}