@media (prefers-color-scheme: light) {
    :root {
        --cover-gradient-color-1: #d9e9f6;
        --cover-gradient-color-2: #a3c9e9;

        --icon-background-color: #ebf3fa;
        --label-background-color: #cde1f3;

        --container-color-hover: hsl(0, 0%, 98%);
        --container-color-active: hsl(0, 0%, 96%);

        --secondary-button-background-color: hsl(0, 0%, 97.5%);
        --secondary-button-background-color-hover: hsl(0, 0%, 93%);
        --secondary-button-background-color-active: hsl(0, 0%, 90%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --cover-gradient-color-1: #283840;
        --cover-gradient-color-2: #365c6f;

        --icon-background-color: #373f43;
        --label-background-color: #3b505a;

        --container-color-hover: hsl(0, 0%, 16%);
        --container-color-active: hsl(0, 0%, 12%);

        --secondary-button-background-color: hsl(0, 0%, 16%);
        --secondary-button-background-color-hover: hsl(0, 0%, 12%);
        --secondary-button-background-color-active: hsl(0, 0%, 10%);
    }
}

/********************
Texto y espaciado
********************/

h2 {
    position: relative;
    padding-left: 15px;
}

h2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

h2+p,
h3+p {
    margin-top: 0.5em;
}

.texto h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0;
}

ul+h3 {
    margin-top: 1em;
}

section {
    margin-top: 40px;
}

section:first-child {
    margin-top: 20px;
}

section>ul li {
    margin-block: 0.2em;
}

/********************
Galerías
********************/

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 15px;
    margin-block: 10px;
}

/********************
Portada
********************/

aside {
    width: 100%;
    max-width: 100ch;
    box-sizing: border-box;
    padding-inline: 20px;
}

#portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-image: linear-gradient(90deg, var(--cover-gradient-color-1), var(--cover-gradient-color-2));
    padding: 30px 20px;
    border-radius: 10px;
}

#portada>div:first-child {
    min-width: 20ch;
}

#portada p {
    text-wrap: balance;
}

#portada p:first-child {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
}

#portada strong {
    color: var(--accent-color);
}

#portada>div:last-child {
    margin-block: auto;
    margin-left: auto;
    margin-right: 50px;
}

#portada img {
    width: 100%;
    max-width: 100px;
    opacity: 75%;
    rotate: 5deg;
}

@media (max-width: 450px) {
    #portada>div:last-child {
        margin-right: 5px;
    }
}

@media (max-width: calc(90ch)) {
    aside {
        padding-inline: 0;
    }

    #portada {
        border-radius: 0;
    }
}

/********************
Tarjeta
********************/

.tarjeta {
    --parent-color: var(--container-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.tarjeta h3 {
    margin-top: 0;
    line-height: 1.4;
}

.tarjeta>p {
    margin-top: 0.5em;
    text-wrap: balance;
}

.tarjeta>ul {
    margin-top: 0.5em;
}

.tarjeta>div {
    width: 100%;
}

/********************
Tarjetas de contenido
********************/

.icono-texto {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.icono-texto>div {
    display: flex;
    aspect-ratio: 1;
    background-color: var(--icon-background-color);
    border-radius: 10px;
}

.icono-texto>div>p {
    margin: auto;
    font-size: 2rem;
}

#utilidades .tarjeta {
    transition: background-color 200ms;
}

#utilidades .tarjeta h3 a {
    text-decoration: none;
}

#utilidades .tarjeta h3 a::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: auto;
    background-color: transparent;
    border-radius: 10px;
}

#utilidades .icono-texto {
    grid-template-columns: 70px 1fr auto;
}

#utilidades .icono-texto::after {
    content: "→";
    margin-block: auto;
    color: var(--accent-link);
    font-size: 1.5rem;
    transition: translate 200ms;
}

#utilidades .tarjeta:hover {
    background-color: var(--container-color-hover);
}

#utilidades .tarjeta:active {
    background-color: var(--container-color-active);
}

#utilidades .tarjeta:hover .icono-texto::after {
    translate: 2px;
}

/********************
Tarjetas de ejercicios diarios
********************/

#ejercicios-diarios .tarjeta {
    padding: 20px;
}

#ejercicios-diarios .tarjeta:last-child {
    margin-top: 15px;
}

#ejercicios-diarios .tarjeta h3:first-of-type {
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: var(--label-background-color);
    font-weight: bolder;
    border-radius: 100px;
}

/********************
Enlace de modalidad
********************/

a.modalidad {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: var(--secondary-button-background-color);
    border: solid 1px var(--container-color);
    font-size: 0.875rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 200ms;
}

a.modalidad::after {
    content: "→";
    transition: translate 200ms;
}

a.modalidad:hover {
    background-color: var(--secondary-button-background-color-hover);
}

a.modalidad:hover::after {
    translate: 2px 0;
}

a.modalidad:active {
    background-color: var(--secondary-button-background-color-active);
}

/********************
Botones segmentados
********************/

.boton-segmentado {
    display: flex;
    min-width: none;
}

.boton-segmentado a {
    max-width: none;
    flex-grow: 1;
}

.boton-segmentado a:first-child {
    border-radius: 0 0 0 9px;
}

.boton-segmentado a:last-child {
    border-radius: 0 0 9px 0;
}

@media (prefers-color-scheme: light) {
    .boton-segmentado a:last-child {
        --accent-color: hsl(208, 100%, 32%);
        --accent-color-hover: hsl(208, 75%, 38%);
        --accent-color-active: hsl(208, 58%, 44%);
    }
}

@media (prefers-color-scheme: dark) {
    .boton-segmentado a:last-child {
        --accent-color: hsl(201, 100%, 63%);
        --accent-color-hover: hsl(201, 80%, 57%);
        --accent-color-active: hsl(201, 64%, 53%);
    }
}

/********************
Acordeón
********************/

details {
    margin: 0;
    border-radius: 0;
    border-width: 2px;
}

details+details {
    border-top: none;
}

details summary {
    border-radius: 0;
}

details[open] summary {
    border-width: 2px;
}

details:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

details:first-of-type summary {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

details:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

details:last-of-type:not([open]) summary {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

details p {
    margin: 15px 20px;
}

/********************
Formulario
********************/

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-block: 10px;
}

label {
    height: 1px;
    overflow: hidden;
    position: absolute;
}

textarea {
    width: min(100%, 400px);
    min-height: 100px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.875rem;
    font-family: system-ui;
    transition: border-color 100ms;
}

textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--accent-color);
}