@import url(core.css);

section {
    margin-top: 40px;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 15px;
}

main>p:first-child {
    text-align: center;
    font-weight: 700;
    font-size: larger;
}

fluent-card {
    padding: 20px;
}

fluent-card>h3 {
    margin: 0;
}

#contenido fluent-card>p {
    margin-top: 0.5em;
}

#progreso fluent-card>p {
    margin-block: 0;
}

@media (prefers-color-scheme: light) {
    fluent-card {
        background-color: hsl(208, 50%, 40%, 0.05);
    }
}