section {
    margin-top: 40px;
}

a {
    color: var(--accent-foreground-rest);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 15px;
}

main>p:first-child {
    text-align: center;
    font-weight: 700;
}

.tarjeta {
    padding: 20px;
    background-color: var(--neutral-layer-floating);
    border: 1px solid var(--neutral-stroke-layer-rest);
    border-radius: 10px;
    box-shadow: var(--elevation-shadow-card-rest);
}

.tarjeta>h3 {
    margin: 0;
}

#contenido .tarjeta>p {
    margin-top: 0.5em;
}

#progreso .tarjeta>p {
    margin-top: 0;
    margin-bottom: 0.5em;
}