#navegacion-local {
    width: 100%;
    max-width: 100ch;
    padding-inline: 20px;
    box-sizing: border-box;
}

article {
    padding-inline: 0.25em;
}

main>p {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2:first-of-type {
    margin-bottom: 5px;
}

h3 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}

h2+article h3 {
    margin-top: 1em;
}

article>p {
    margin-top: 0.75em;
}

/********************
Imágenes
********************/

main img {
    display: block;
    max-width: min(100%, 40ch);
    margin: 1.5em auto;
}

.figura {
    max-width: min(100%, 30ch);
    max-height: 25ch;
}

/********************
Botón
********************/

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 32px;
    min-width: 96px;
    padding-inline: 12px;
    box-sizing: border-box;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms;
}

button:hover:enabled {
    background-color: var(--button-background-color-hover);
}

button:active:enabled {
    background-color: var(--button-background-color-active);
}

button:disabled {
    cursor: default;
}

/********************
Botón con acento
********************/

button.acento {
    background-color: var(--accent-color);
    color: var(--on-accent);
    border-color: transparent;
}

button.acento:hover {
    background-color: var(--accent-color-hover);
}

button.acento:active {
    background-color: var(--accent-color-active);
}

/********************
Botón con contorno
********************/

button.contorno {
    border-radius: 100px;
}

button.contorno.seleccionado {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-width: 2px;
    cursor: initial;
}

button.contorno.seleccionado:hover,
button.contorno.seleccionado:active {
    background-color: inherit;
}

/********************
Pestañas
********************/

.contenedor-grupos {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
    background:
        linear-gradient(to right, var(--background-color) 30%, transparent) left / 30px 100% local,
        linear-gradient(to left, var(--background-color) 70%, transparent) right / 30px 100% local,
        radial-gradient(farthest-side at 0, var(--border-color), transparent) left / 15px 100% scroll,
        radial-gradient(farthest-side at 100%, var(--border-color), transparent) right / 15px 100% scroll;
    background-repeat: no-repeat;
}

.grupo {
    position: relative;
    min-width: auto;
    min-height: auto;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
}

.grupo::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 3px;
    background-color: var(--button-border-color);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 300ms;
}

.grupo:hover::after {
    opacity: 1;
}

.grupo.seleccionado::after {
    background-color: var(--accent-color);
    opacity: 1;
}

.contenido-grupo {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 12px 10px;
    transition: opacity 200ms;
}

.contenido-grupo.visible {
    display: flex;

}

@starting-style {
    .contenido-grupo.visible {
        opacity: 0;
    }
}

/********************
Acordeón
********************/

details div {
    margin-inline: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

details ol {
    padding-left: 1em;
}

/********************
Progreso
********************/

main.cargando::after {
    content: "";
    display: block;
    margin-top: 40px;
    margin-inline: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    border-top-color: transparent;
    animation: carga 800ms linear infinite;
}

@keyframes carga {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button.cargando::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(var(--progreso, 0) * 1%);
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

/********************
Adaptabilidad
********************/

@media (prefers-color-scheme: dark) {
    main img {
        filter: invert(1) hue-rotate(180deg);
    }
}

/********************
Impresión
********************/

@media print {
    article {
        break-inside: avoid;
    }

    body>header,
    nav,
    article>ul,
    button,
    details {
        display: none;
    }
}