@import url(core.css);

nav {
    width: 100%;
    max-width: 100ch;
}

section {
    padding-inline: 0.25em;
}


h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2:first-of-type {
    margin-bottom: 5px;
}

h3 {
    font-size: larger;
}

article>h3:last-of-type {
    margin-top: 2.5em;
}

section>h4 {
    margin-top: 1.75em;
    margin-bottom: 0.25em;
    font-size: large;
}

section:first-of-type>h4 {
    margin-top: 1em;
}

ul {
    padding-left: 1.5em;
}

ol {
    padding-left: 1.5em;
    list-style-type: lower-latin;
}

li {
    margin-block: 0.2em;
    padding-left: 0.125em;
}

li::marker {
    font-weight: bold;
}

section>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

section>p {
    margin-top: 0.5em;
}

img {
    display: block;
    max-width: min(100%, 40ch);
    margin: 1em auto;
}

#figura {
    max-width: min(100%, 30ch);
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(1);
    }
}

fluent-tabs {
    max-width: 100%;
    overflow-x: auto;
}

fluent-tab:not(:first-child) {
    margin-left: 5px;
}

fluent-tab-panel {
    margin-top: 5px;
}

fluent-tab-panel>div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

fluent-accordion {
    margin-top: 20px;
    margin-bottom: 30px;
}

fluent-accordion-item>span {
    margin-left: 10px;
}

fluent-accordion-item>div {
    margin: 20px;
}

mjx-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

@media print {
    section {
        break-inside: avoid;
    }

    header,
    nav,
    section>ul,
    fluent-button,
    fluent-accordion {
        display: none;
    }
}