#navegacion-local {
    width: 100%;
    max-width: 100ch;
    padding-inline: 20px;
    box-sizing: border-box;
}

section {
    padding-inline: 0.25em;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2:first-of-type {
    margin-bottom: 5px;
}

h3 {
    font-size: larger;
}

article>h3:last-of-type {
    margin-top: 2.5em;
}

section>h4 {
    margin-top: 1.75em;
    margin-bottom: 0.25em;
    font-size: large;
}

section:first-of-type>h4 {
    margin-top: 1em;
}

ul {
    padding-left: 1.5em;
}

ol {
    padding-left: 1.5em;
    list-style-type: lower-latin;
}

ol li {
    margin-block: 0.2em;
    padding-left: 0.125em;
}

li::marker {
    font-weight: bold;
}

section>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

section>p {
    margin-top: 0.5em;
}

main img {
    display: block;
    max-width: min(100%, 40ch);
    margin: 1.5em auto;
}

.figura {
    max-width: min(100%, 30ch);
    max-height: 25ch;
}

@media (prefers-color-scheme: dark) {
    main img {
        filter: invert(1) hue-rotate(180deg);
    }
}

fluent-tabs {
    max-width: 100%;
    overflow-x: auto;
}

fluent-tab:not(:first-child) {
    margin-left: 5px;
}

fluent-tab-panel {
    margin-top: 5px;
}

fluent-tab-panel>div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

fluent-accordion {
    margin-top: 20px;
    margin-bottom: 30px;
}

fluent-accordion-item>span {
    margin-left: 10px;
}

fluent-accordion-item>div {
    margin: 20px;
}

/********************
Botón
********************/

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    min-width: 96px;
    padding-inline: 12px;
    box-sizing: border-box;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 200ms;
}

button:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}

button:active {
    background-color: var(--button-background-color-active);
}

/********************
Botón con acento
********************/

button.acento {
    background-color: var(--accent-color);
    color: var(--on-accent);
    border-color: transparent;
}

button.acento:hover {
    background-color: var(--accent-color-hover);
}

button.acento:active {
    background-color: var(--accent-color-active);
}

/********************
MathJax
********************/

mjx-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

/********************
Impresión
********************/

@media print {
    section {
        break-inside: avoid;
    }

    header,
    nav,
    section>ul,
    fluent-button,
    fluent-accordion {
        display: none;
    }
}