main {
    height: calc(100vh - 45px - 1.5em);
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
}

tbody tr:hover {
    background-color: var(--header-color);
    outline: 2px solid hsla(0, 0%, 50%, 0.25);
}

.tabla {
    flex: 1;
    overflow-y: auto;
    margin-top: 0;
}

td,
th {
    padding-block: 0.25em;
}

th {
    background-color: var(--container-color);
}

thead {
    position: sticky;
    top: 0;
    outline: 2px solid var(--background-color);
}