html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

h2,
h3,
h4 {
    margin-bottom: 0;
}

h2+p,
h3+p,
h4+p {
    margin-top: 5px;
}

main li {
    margin-bottom: 0.5em;
}

button:disabled {
    opacity: 0.5;
}

.categorias li {
    margin: 0;
}